<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss:SSS Z} [%2F:%-4L] [%t] %c - %msg%n</Property>
        <Property name="CONSOLE_LOG_PATTERN">[pid: %pid] [%-5level] %d{yyyy-MM-dd HH:mm:ss:SSS Z} [%2F:%-4L] [%t] %c - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="fileLog" fileName="log/debugLog-client.txt"
                     filePattern="log/debugLog.txt">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="fileLog" level="info"/>
            <AppenderRef ref="fileLog" level="warn"/>
            <AppenderRef ref="fileLog" level="error"/>
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="Console" level="error"/>
        </Root>
    </Loggers>

</Configuration>
